@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

body {
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

body {
	color: #000;
	background: #fff;
}

.dark {
	html,
	body {
		color: #fff;
		background: #000;
	}
}
